<div class="wishlist-container">

<h2>Your Wishlist</h2>

<div *ngIf="wishlist.length==0" class="empty">
No items in wishlist
</div>

<div class="wishlist-item" *ngFor="let item of wishlist; let i=index">

<img [src]="item.image">
<div class="details">
<h3>{{item.name}}</h3>

<p>₹ {{item.price}}</p>
<div class="btns">
<button class="cart-btn" (click)="moveToCart(item)">
Move to Cart
</button>

<button class="remove-btn"    (click)="removeItem(item)">
Remove
</button></div>

</div>

</div>
</div>