<header class="navbar">

<div class="logo">
<img src="assets/logo.png">
</div>

<nav class="nav-links">
<a routerLink="/">Home</a>
<a routerLink="/products">Shop</a>
<a routerLink="/wishlist">Wishlist</a>
<a routerLink="/cart">Cart<span class="cart-badge" *ngIf="cartCount > 0">{{cartCount}}</span></a>
<a routerLink="/orders">Orders</a>
<a *ngIf="!auth.isLoggedIn()" routerLink="/login">Login</a>

<div class="account-menu" *ngIf="auth.isLoggedIn()">

  <span (click)="toggleAccountMenu()">
    👤My Account▼
  </span>
  
  <div class="dropdown" *ngIf="showAccountMenu">
    <h6 style="text-align: center; color: rgb(176, 57, 96);">🌷{{currentUser.name}}</h6>
    <a routerLink="/orders">My Orders</a>

    <a routerLink="/wishlist">Wishlist</a>
    <a routerLink="/cart">My Cart<span class="cart-badge" *ngIf="cartCount > 0">{{cartCount}}</span></a>

    <a (click)="logout()">Logout</a>

  </div>

</div></nav></header>

    <div class="mobile-only">

<header class="mobile-header">

  <!-- LEFT LOGO -->
  <div class="logo">
   <img src="assets/logo.png">
  </div>

  <!-- RIGHT SIDE -->
  <div class="header-right">

    <!-- LOGIN / USER -->
    <div *ngIf="!auth.isLoggedIn()" routerLink="/login" class="login-btn">
      Login
    </div>

    <div *ngIf="auth.isLoggedIn()" class="user-name">
      👤 {{auth.getUser()?.name}}
    </div>

    <!-- MENU BUTTON -->
    <div class="menu-btn" (click)="toggleMenu()">
      ☰
    </div>

  </div>

</header>

<div class="mobile-menu" *ngIf="menuOpen">

  <a routerLink="/"(click)="toggleMenu()">Home🏠</a>
  <a routerLink="/shop"(click)="toggleMenu()">Shop🛍️</a>
  
  <a routerLink="/cart"(click)="toggleMenu()">Cart🛒<span class="cart-badge" *ngIf="cartCount > 0">{{cartCount}}</span></a>
  <a routerLink="/wishlist"(click)="toggleMenu()">Wishlist❤️</a>
  <a routerLink="/orders"(click)="toggleMenu()">Orders📦</a>

  <a *ngIf="auth.isLoggedIn()" (click)="logout()">Logout</a>

</div>

</div>

<div class="overlay" *ngIf="menuOpen" (click)="toggleMenu()"></div>




<router-outlet></router-outlet>



<footer class="footer">

<p>© 2026 Mihaa Women's Fashion</p>

</footer>
